{% extends 'base.html' %}

{% block title %}Working Women{% endblock title %}

{% block body %}

<div class="p-3 mb-2 bg-dark text-white" id="about">
    <h2 class="text-center"><u>Working Women</u></h2><br/>
<div 
  class="bg-image" class="center"
  style="background-image: url(/static/7.jpeg);
    height: 600px;width:1000px; background-repeat:no-repeat; display: block;
  margin-left: auto;
  margin-right: auto;
    height: 450px;width:900px; background-repeat:no-repeat"></div></div>
                    <div class="mx-7"></div>

<div class="row mx-md-n5">
  <div class="col px-md-5"><div class="p-3 border bg-light"><p class="lead">India could be a developing economy and regarded one in all the biggest democracies within the world. it's increasing in several areas of development, that is significant to the expansion of the state. along side economic and infrastructural development, there's additionally a desire for social development.

Education is critical for the expansion of any country. In India, ladies have historically been confined to unit work and taking care of the family. social system is that the root cause; several didn't believe educating women; instead, a baby girl was seen as a burden, and obtaining married was the sole manner. one more reason why families retreat from educating their daughters is that the lack of safety and security. Traveling throughout the night and living on their own instigates worry among the families also because the woman is a kid. Crimes against ladies area unit on the increase, associate degreed this prevents them from receiving an education. Low financial gain forced folks to teach solely the boy kid, basic cognitive process that he's the sole earner for the family whereas the girl stayed reception.

The need for women’s education goes back to times of independence. Savitirao Phule and Jyotiba Phule were advocates for women’s education and discovered an establishment for ladies in 1848. ladies were participants of the liberty struggle. The demand for women’s education has been on the increase. 

The government, over the years, has introduced several schemes to market women’s education in Asian nations. a number of the programs are:

Beti Bachao Beti Padhao Yojana
Sarva Shiksha Abhiyan
Rashtriya Mahila Kosh
Mahila Shakti Kendra
The right to education is granted to each Indian national. We want to make sure that learning is accessible for all and not only for men. The unfolding of Education in rural areas is significant as urban areas to empower ladies everywhere in the country. International accomplishment Day is commemorated across the world, as well as Asian nations, on Sep eighth. The 2019 theme was ‘Literacy and Multilingualism.’
<br/>
Keeping in view, the rising number of crimes against girls in the country, it is important to provide self-defence training to them in the schools to ensure their safety and security. Self-defence training is a life skill that helps girls to be more aware of their surroundings and be prepared for the unexpected at any time. Through the self defence training, the girls are taught to become psychologically, intellectually and physically strong enough to protect themselves in times of distress. Self defence training techniques instills self confidence amongst girls and helps to promote girls education particularly their transition to secondary and higher secondary level and to reduce the dropout rate in schools.
</p>

    <div class="text-left">
        <div class="mb-sm-9 pb-sm-9"><u>Click here for women education, self defence, women healthline help </u><br/>
         <a href="https://samagra.education.gov.in/raksha.html"><button type="button" class="btn btn-primary">Self Defence</button></a>
          <a href="https://vikaspedia.in/social-welfare/women-and-child-development/child-development-1/girl-child-welfare/best-practices-on-girl-child-welfare/protection-of-girls/self-defence-training"><button type="button" class="btn btn-primary">Woman Education</button></a>  
           <a href="https://www.healthline.com/health/womens-health/self-defense-tips-escape"><button type="button" class="btn btn-primary">Woman Health</button></a>
            </div>
        </div>
        
        </div>



</div></div>
</div>

</div>
</div>

{% endblock body %}