{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
        <div class="p-3 mb-2 bg-dark text-white" id="about">
            <h2 class="text-center">Welcome To SS ww eee eee</h2>
        <div class="row">
            <div class="col">
                <div class="text-left">
                <h3 class="mt-sm-5 mb-sm-13"><p class="display-6">Hello SS ww eee eee..<br/>SS ww eee eee SS ww eee eee SS ww eee eee</p></h3>
                <p class="lead">SS ww eee eeeSS ww eee eeeSS ww eee eeeSS ww eee eeeSS ww eee eee</p>
                </div>
                </div>
            <div class="mt-sm-3 mb-sm-13">
                <img
                class="col"
                alt="logo"
                src={logo}
                />
                </div>
        </div>
        <div class="text-left">
        <div class="mb-sm-9 pb-sm-9">
         <a href="#contact">   <button type="button" class="btn btn-primary">Contact US</button></a>
            <a href="#skills"><button type="button" class="btn btn-primary" id="btn">Services</button></a>
            </div>
        </div>
        
        </div>

            <div class="container-fluid text-center" id="projects">
        <u><h4 class="display-7"><br/>Check Our Services</h4></u>
        <br/>
    <div class="row">  
    <div class="col">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">To DO List</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>  
  </div>
</div>
    <div class="col">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Snake Game</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>  
  </div>
</div>
    <div class="col">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">KBC Game</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>  
  </div>
</div>
</div>

<br/>
    <div class="row">  
    <div class="col">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">To DO List</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>  
  </div>
</div>
    <div class="col">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Snake Game</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>  
  </div>
</div>
    <div class="col">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">KBC Game</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>  
  </div>
</div>
</div>



</div>  
{% endblock body %}
