{% extends 'base.html' %}

{% block title %}House Wife{% endblock title %}

{% block body %}

<div class="p-3 mb-2 bg-dark text-white" id="about">
    <h2 class="text-center"><u>House Wife</u></h2><br/>
<div 
  class="bg-image" class="center"
  style="background-image: url(/static/8.jpg);
    height: 300px;width:600px; background-repeat:no-repeat; display: block;
  margin-left: auto;
  margin-right: auto;"></div></div>
                    <div class="mx-7"></div>

<div class="row mx-md-n5">
  <div class="col px-md-5"><div class="p-3 border bg-light"><p class="lead">In this page you will get to know about how a woman can change their life from an ordinary housewife who can only contribute to their homes to those who are contributing to the economy.Housewives, based on their skill-sets, can successfully do a variety of businesses from the very comfort and convenience of their homes. Home based business is a good option for stay-in-moms to constructively make use of their spare time and also earn a few bucks without having to step out. All one needs is the right attitude, time management and the preparedness to work hard.

Profitable Home Based Business Ideas for Housewives
Many companies prefer people who can work for them from home without having to employ them as regular employees as it is cost effective. These organisations are focused towards this mission.
</p>

    <div class="text-left">
        <div class="mb-sm-9 pb-sm-9"><u>Useful links here</u><br/>
         <a href="https://wief.co.in/"><button type="button" class="btn btn-primary">Business</button></a>
          <a href="https://www.startupindia.gov.in/content/sih/en/government-schemes/Wep.html"><button type="button" class="btn btn-primary">Gov Schemas</button></a>  
           <a href="https://awakeindia.org.in/"><button type="button" class="btn btn-primary">Start Up</button></a>
            </div>
        </div>
        
        </div>



</div></div>
</div>




</div></div>
</div>

{% endblock body %}