{% extends 'base.html' %}

{% block title %}Senior Citizen Help{% endblock title %}

{% block body %}

<div class="p-3 mb-2 bg-dark text-white" id="about">
    <h2 class="text-center"><u>Senior Citizen Help</u></h2><br/>
<div 
  class="bg-image" class="center"
  style="background-image: url(/static/6.png);
    height: 600px;width:1000px; background-repeat:no-repeat; display: block;
  margin-left: auto;
  margin-right: auto;
    height: 600px;width:1000px; background-repeat:no-repeat"></div></div>
                    <div class="mx-7"></div>

<div class="row mx-md-n5">
  <div class="col px-md-5"><div class="p-3 border bg-light"><p class="lead">The necessity for the ngo for senior citizens in India has increased lately due to the increased ill treatment and suffering older people have to endure after they become incapable and helpless.
It's unfortunate that in a progressive country like India senior citizens do not get much deserving families and also they didn't get the healthcare facilities and nutritious food ,cloths for protection as well as covering the body
There are some link of an enthusiastic ngo for senior citizens in India and they are drafting the plans keeping in mind the desires and expectations of the senior and elderly citizens.</p>

    <div class="text-left">
        <div class="mb-sm-9 pb-sm-9"><u>Click here for NGO contact </u><br/>
         <a href="https://www.helpageindia.org/donate/?utm_source=google&utm_medium=banner&utm_campaign=smartdisplay&gclid=Cj0KCQiA5OuNBhCRARIsACgaiqVmrOTuXffFGnBHflxqD8oXaVggcKuBeZKWafSaEltJR3AzJ_e1Ps8aAid7EALw_wcB"><button type="button" class="btn btn-primary">NGO1</button></a>
          <a href="https://www.vridhcare.com/"><button type="button" class="btn btn-primary">NGO2</button></a>  
           <a href="https://ngosindia.com/help-support/old-age-homes-and-old-age-care-centers/"><button type="button" class="btn btn-primary">NGO3</button></a>
            </div>
        </div>
        
        </div>



</div></div>
</div>

<div class="row mx-md-n5">
  <div class="col px-md-5"><div class="p-3 border bg-light"><p class="lead">So here we provide some non profitable organisation .
The organisation mainly aim to end poverty but also focus on several other issues that people living in rural or poor communities face.it's main social development goals include eliminating extreme poverty increasing finical opportunity and choice few of the linkes are given below</p>
       <div class="text-left">
        <div class="mb-sm-9 pb-sm-9"><u>Click here for organization contact </u><br/>
         <a href="https://www.careindia.org/our-work/livelihood/?gclid=CjwKCAiAh_GNBhAHEiwAjOh3ZNXh14A8AnENuEOM6Hi1I7TjvvofxfLuwDkaEE-450YoMrFR_PovBRoC7SsQAvD_BwE"><button type="button" class="btn btn-primary">organization1</button></a>
         <a href="http://shgjivika.mp.gov.in/"><button type="button" class="btn btn-primary">organization2</button></a>
         <a href="https://www.villagesquare.in/village-organizations-pave-way-for-womens-empowerment/"><button type="button" class="btn btn-primary">organization3</button></a>
           
            </div>
        </div>
        
        </div>


</div></div>
</div>

{% endblock body %}