{% extends 'base.html' %}

{% block title %}Teenager's Section{% endblock title %}

{% block body %}

<div class="p-3 mb-2 bg-dark text-white" id="about">
    <h2 class="text-center"><u>Teenager's Section</u></h2><br/>
<div 
  class="bg-image" class="center"
  style="background-image: url(/static/12.jpg);
    height: 600px;width:1000px; background-repeat:no-repeat; display: block;
  margin-left: auto;
  margin-right: auto;
    height: 600px;width:1000px; background-repeat:no-repeat"></div></div>
                    <div class="mx-7"></div>

<div class="row mx-md-n5">
  <div class="col px-md-5"><div class="p-3 border bg-light"><p class="lead">India continues to be faraway from achieving gender equality and its inclined sex magnitude relation of 940 females per one thousand males bears witness to the current reality. A woman kid in India is commonly seen as a liability, a ‘burden’ to depart this world. Given the prevailing influence of paternal values, right from their birth, a great deal many ladies bear the forcefulness of gender difference, gender stereotypes and area units treated inferiorly, as compared to boys.

No matter however proficient and impressive she is, the woman kid usually receives the shorter finish of the stick. In concern of exploitation and abuse, many ladies don't seem to be sent to highschool and unbroken reception solely to be married off early. And notwithstanding she isn't married off, the young woman continues to be denied a worthy education, quality care, employment opportunities and equal rights that a boy simply gets. whereas some ladies manage to ‘escape’ from the shackles and check out to create a bright future, most resign to their unwell fate.<br/>
Abuse and violence/safety considerations

A girl kid is a simple target and is sometimes at the receiving end of abuse and violence, that a lot of usually than not goes unreported. In rural areas, oldsters are reluctant to send their daughters to highschool fearing their safety. Latest knowledge discharged by the National Crime Records Bureau additionally reveals that capture, abduction and sexual offenses against kids were among the highest 2 crimes committed against kids. twenty eighth of all rape victims were ladies beneath age eighteen and out of the entire variety of youngsters that went missing within the year 2018, seventieth were ladies.
<br/>The government has been creating persistent efforts to boost the standing of the woman kid within the society likewise to incentivize her education through varied schemes and programs. These have surely contributed to ladies’ education to AN extent nonetheless a great deal of a lot of girls must be in hot water to be actually treated as capable boys

</p>

    <div class="text-left">
        <div class="mb-sm-9 pb-sm-9"><u>Useful Links </u><br/>
         <a href="https://www.myadvo.in/blog/must-read-what-is-cyber-bullying-or-anti-bullying-laws-in-india/"><button type="button" class="btn btn-primary">Cyber Bullying</button></a>
          <a href="http://ncw.nic.in/important-links/List-of-Laws-Related-to-Women"><button type="button" class="btn btn-primary">Laws</button></a>  
           <a href="http://www.womenlawsindia.com/legal-awareness/crimes-against-women/"><button type="button" class="btn btn-primary">Awareness</button></a>
            </div>
        </div>
        
        </div>



</div></div>
</div>


        </div>


</div></div>
</div>

{% endblock body %}